*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    text-align: center;
    background-color: whitesmoke;
}
.h1f{
   margin: 0 0 2rem 0;
}
.container{
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:9rem;
}
.img-container{
width: 350px;



}

.imgs{
    width: 300px;
    height: 400px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgb(120, 120, 120);
}