*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: whitesmoke;
}
.h1f{
   margin: 1rem 0 2rem 0;
   background-color: rgba(0, 0, 0, 0.832);
   padding: 1rem;
   color: antiquewhite;
}
.content{
    text-align: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:9rem;
}
